{{if eq .UILib "react"}}import React from 'react';{{else}}import { h } from 'preact';{{end}}

export default function {{.ComponentName}}Page(props) {
  return (
    <div>
      <h2>{{.ComponentName}}</h2>
      <p>Edit views/pages/{{.Name}}.tsx to get started.</p>
    </div>
  );
}
