import { h } from 'preact';

export default function {{.ComponentName}}Page(props) {
  return (
    <div>
      <h2>{{.ComponentName}}</h2>
      <p>Edit views/pages/{{.Name}}.tsx to get started.</p>
    </div>
  );
}
